new-orders {
    ion-item-sliding .item {
        background: orange;
        height: 30vw;
    }
    ion-item-sliding.active-slide.active-options-right ion-item-options {
        background: rgba(10, 100, 10, 0.5);
        ;
    }
    .view {
        .number {
            width: fit-content;
            margin-top: 10px;
            float: left;
        }
        .price {
            float: right;
            width: 35vw;
            display: flex;
            height: 30%;
            align-items: center;
            position: absolute;
            right: 0;
            span {
                margin: 0 auto;
            }
        }
        .status {
            position: absolute;
            height: 31%;
            top: 30%;
            right: 0;
            width: 35vw;
            display: flex;
            align-items: center;
            span {
                font-size: 0.8em;
                margin: 0 auto
            }
        }
        .confirm {
            position: absolute;
            right: 0;
            bottom: 0;
            height: 35%;
            width: 34vw;
        }
        .more {
            position: absolute;
            left: 0;
            height: 35%;
            width: 34vw;
            bottom: 0;
        }
        .label-md {
            height: 100%;
        }
    }
    .list-md ion-item-options .button {
        width: 30vw;
        height: 30vw;
        margin-left: 5vw;
        margin-right: 5vw;
        span {
            width: 30vw;
        }
    }
}