new-orders {
    ion-item-sliding.active-slide.active-options-right ion-item-options {
        background: grey;
        align-items: center;
    }
    .scroll-content {
        padding-bottom: 56px;
    }
    .view {
        .grid {}
        .number {
            font-size: 1em;
            width: fit-content;
            position: absolute;
            top: 10px;
            left: 10px;
        }
        .price {
            font-size: 1em;
            float: right;
            width: 35%;
            display: flex;
            height: 30%;
            align-items: center;
            position: absolute;
            right: 0;
            top: 0;
            span {
                margin: 0 auto;
            }
        }
        .status {
            font-size: 1em;
            position: absolute;
            height: 31%;
            top: 30%;
            right: 0;
            width: 35vw;
            display: flex;
            align-items: center;
            span {
                font-size: 0.8em;
                margin: 0 auto
            }
        }
        /*.confirm {
            font-size: 1rem;
            position: absolute;
            right: 0;
            bottom: 0;
            height: 35%;
            width: 34vw;
        }
        .more {
            font-size: 1rem;
            position: absolute;
            left: 0;
            height: 35%;
            width: 34vw;
            bottom: 0;
        }*/
        .label-md {
            height: 100px;
        }
        .buttons {
            padding: 0;
            position: absolute;
            left: 0;
            bottom: 0;
            height: 38%;
        }
    }
    .list-md ion-item-options .button {
        width: 100px;
        height: 100%;
        span {
            width: 100px;
        }
    }
}

*[normal] {
    width: 100%;
    font-size: 0.7em;
    max-height: 26px;
    min-height: 26px;
}