<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let item of data2; let i = index" #slideingItem margin-bottom>
            <ion-item no-lines class="view" mode="md">
                <div class="number">
                    <span> № {{item.id}}</span>
                </div>
                <div class="price">
                    <span>{{item.order_price}}</span>
                </div>
                <div *ngIf="(item.order_status == 'Pending')" class="status">
                    <span>pending...</span>
                </div>
                <div *ngIf="false" class="status">
                    <span>waiting...</span>
                </div>
                <div *ngIf="false" class="status">
                    <span>completed...</span>
                </div>



                <ion-grid class="buttons">
                    <ion-row no-margin>
                        <ion-col col-4><button mode="ios" small normal class="more" ion-button color="grey" (tap)="more(item)">{{"Մանրամասն" | translate}}</button></ion-col>
                        <ion-col col-4><button mode="ios" small normal class="cancel" color="danger" ion-button>{{"Չեղարկել" | translate }}</button></ion-col>
                        <ion-col col-4><button mode="ios" small normal class="confirm" color="secondary" ion-button>{{"Հաստատել" | translate}}</button></ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
            <ion-item-options side="left">

                <button class="close-button" color="secondary" (click)="copy(item)" ion-button icon-only>
                        <ion-icon name="add"></ion-icon>
                </button>

            </ion-item-options>
            <ion-item-options side="right">

                <button class="close-button" color="danger" (click)="some(slideingItem, i)" ion-button icon-only>
                        <ion-icon name="close"></ion-icon>
                </button>

            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="100px">
        <ion-infinite-scroll-content loadingSpinner="bubbles" [loadingText]="serv.translateImportant('Խնդրում եմ սպասել․․․', 'Please wait...')"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>