<absolute-header [pageName]='pageName'></absolute-header>
<ion-content top>
    <button detail-none text-center (click)="createNewCars()" ion-item no-padding block color="primary">
        {{"Ավելացնել նոր մեքենա" | translate}}
    </button>
    <ion-list no-margin mode="md" *ngFor="let car of cars; let i = index">
        <button lines detail-none ion-item no-padding (click)="more[i] = !more[i]">
            <ion-label>{{car.brand}}</ion-label>
            <ion-icon name="close" item-end (click)="removeCar(i)"></ion-icon>
        </button>
        <ion-card *ngIf="more[i]">
            <h6>{{car.brand}}</h6>
            <h6>{{car.model}}</h6>
            <h6>{{car.number}}</h6>
        </ion-card>
    </ion-list>


</ion-content>