<absolute-header [pageName]='pageName'></absolute-header>
<ion-content top>
    <ion-list no-margin mode="md" *ngFor="let car of cars; let i = index">
        <button lines detail-none ion-item no-padding (click)="more[i] = !more[i]">
            <ion-label>{{car.brand}}</ion-label>
            <ion-icon name="close" item-end (click)="removeCar(i)"></ion-icon>
        </button>
        <ion-card *ngIf="more[i]">
            <h6>{{car.brand}}</h6>
            <h6>{{car.model}}</h6>
            <h6>{{car.number}}</h6>
        </ion-card>
    </ion-list>
    <ion-card *ngIf="isAddNewCar">
        <ion-item mode="md">
            <ion-label color="black" floating>Մեքենա</ion-label>
            <ion-input [(ngModel)]="addNewCar.brand"></ion-input>
        </ion-item>
        <ion-item mode="md">
            <ion-label color="black" floating>Մոդել</ion-label>
            <ion-input [(ngModel)]="addNewCar.model"></ion-input>
        </ion-item>
        <ion-item mode="md">
            <ion-label color="black" floating>Համարանիշ</ion-label>
            <ion-input [(ngModel)]="addNewCar.number"></ion-input>
        </ion-item>
        <button ion-button full small (click)="addCar()">Ավելացնել</button>
    </ion-card>
    <button detail-none text-center *ngIf="!isAddNewCar" ion-item no-padding block color="primary" (click)="isAddNewCar = true">
        Ավելացնել նոր մեքենա
    </button>
</ion-content>