about-us-page {
    .scroll-content {
        padding-bottom: 56px;
    }
    *[green-light] {
        color: #adbd84;
    }
    *[bold] {
        font-weight: bold;
    }
    *[head] {
        font-size: 1.19em;
    }
}