// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
*[top] {
    top: 56px;
}

.list-ios .item-block .item-inner {
    min-height: 50px;
    max-height: 50px;
}

.toast-md .toast-message {
    background-color: #adbd84;
    color: white;
    font-size: 1.7rem;
    min-height: 56px;
    max-height: 56px;
}

.toolbar-background-md {
    background: linear-gradient(to right, rgba(173, 189, 132, 1) 0%, rgba(206, 215, 184, 1) 38%, rgba(245, 245, 245, 1) 82%, rgba(245, 245, 245, 1) 97%);
}

ion-item-sliding .item {
    background-color: #adbd84;
    height: 100px;
}