orders-register {
    .item-ios,
    .item-md {
        padding-right: 8px;
    }
    .item.item-md .checkbox-md {
        margin-right: 10px;
    }
    ion-content {
        .scroll-content {
            padding-bottom: 0 !important;
        }
    }
    ion-scroll {
        .scroll-content {
            height: 40vh;
        }
    }
    #map {
        width: 100%;
    }
    .cars-info {
        padding-left: 22px;
        padding-right: 16px;
        ion-grid {
            padding: 0;
            .car-row {
                background: grey;
                border-bottom: 1px solid black;
            }
        }
        .active-car-brand {
            background: grey;
            padding: 16px 50px 16px 5px;
        }
        .service-types {
            .only-style {
                width: 100%;
                height: 30px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
            .car-1 {
                background-image: url(../assets/imgs/1.jpg);
            }
            .car-11 {
                background-image: url(../assets/imgs/11.jpg);
            }
            .car-2 {
                background-image: url(../assets/imgs/2.jpg);
            }
            .car-22 {
                background-image: url(../assets/imgs/22.jpg);
            }
            .car-3 {
                height:28px;
                background-position: left;
                background-image: url(../assets/imgs/3.jpg);
            }
            .car-33 {
                margin-top: 6px;
                height: 30px;
                background-position: left;
                background-image: url(../assets/imgs/33.jpg);
            }
            .price {
                font-weight: bold;
            }
        }
    }
    *[green] {
        color: #adbd84;
    }
    *[no-padding-left]{
        padding-left: 0; 
    }
    *[max-width-24]{
        max-width: 24%;
    }
    *[max-width-26]{
        max-width: 26%;
    }
}