orders-register {
    ion-content {
        .scroll-content {
            padding-bottom: 0 !important;
        }
    }
    ion-scroll {
        .scroll-content {
            height: 40vh;
        }
    }
    #map {
        height: 200px;
        width: 100%;
    }
    .cars-brands {
        padding-left: 22px;
        ion-grid {
            padding: 0;
            .car-row {
                background: grey;
                border-bottom: 1px solid black;
            }
        }
        .active-car-brand {
            background: grey;
            padding: 16px 50px 16px 5px;
        }
    }
}