<ion-content>
    <button float-right small ion-button (click)="closeRegisterPage()">Close</button>



    <ion-grid>
        <!-- BRANDS -->
        <ion-row class="cars-brands">
            <ion-col col-12>

                <ion-item mode="md" no-padding>
                    <ion-label color="black" floating>{{'Ընտրեք մեքենան'}}</ion-label>
                    <ion-input [disabled]="rows.hide2" (ionBlur)="isCompleteBrand = false" (ionFocus)="isCompleteBrand = true" [value]="NEWCAR.brand" [(ngModel)]="NEWCAR.brand" (input)="getBrands($event)">
                    </ion-input>
                    <button ion-button small item-end (tap)="rows.hide2 = !rows.hide2">{{rows.hide2? 'Cancel' : 'OK'}}</button>
                </ion-item>



                <ion-scroll scrollY="true" *ngIf="isCompleteBrand">
                    <ion-grid>
                        <ion-row *ngFor="let brand of brands" (tap)="checkModelButton(brand, brand.value)">
                            <ion-col class="car-row" col-12>
                                {{ brand.value }}
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-scroll>

            </ion-col>
        </ion-row>

        <ion-row class="cars-brands" *ngIf="rows.hide2">
            <ion-col col-12>

                <ion-item mode="md" no-padding>
                    <ion-label color="black" floating>{{'Ընտրեք մոդելը'}}</ion-label>
                    <ion-input [disabled]="rows.hide3" (ionBlur)="isCompleteModel = false" (ionFocus)="isCompleteModel = true" [value]="NEWCAR.model" [(ngModel)]="NEWCAR.model" (input)="getModels($event)"></ion-input>
                    <button ion-button small item-end (tap)="rows.hide3 = !rows.hide3">{{rows.hide3? 'Cancel' : 'OK'}}</button>
                </ion-item>



                <ion-scroll scrollY="true" *ngIf="isCompleteModel">
                    <ion-grid>
                        <ion-row *ngFor="let model of localModels" (tap)="NEWCAR.model = model.value">
                            <ion-col class="car-row" col-12>
                                {{ model.value }}
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-scroll>

            </ion-col>
        </ion-row>

        <ion-row class="cars-brands" *ngIf="rows.hide3">
            <ion-col col-12>

                <ion-item mode="md" no-padding>
                    <ion-label color="black" floating>{{'Համարանիշ'}}</ion-label>
                    <ion-input [value]="NEWCAR.address" [(ngModel)]="NEWCAR.address"></ion-input>
                    <button ion-button small item-end (tap)="rows.hide3 = !rows.hide3;">{{'OK'}}</button>
                </ion-item>
            </ion-col>
        </ion-row>


    </ion-grid>
</ion-content>