<ion-content>

    <button ion-button float-right icon-only (click)="close()">
             <ion-icon name="close" item-end ></ion-icon>
        </button>
    <!--Brands-->
    <ion-item mode="md">
        <ion-label color="black" floating>Մեքենա</ion-label>
        <ion-input (input)="search.getBrands($event)" [value]="addNewCar.brand" (ionBlur)="closeSearchBrands=false" (ionFocus)="closeSearchBrands=true" [(ngModel)]="addNewCar.brand"></ion-input>
    </ion-item>
    <ion-scroll scrollY="true" *ngIf="closeSearchBrands && brands?.length">
        <ion-grid>
            <ion-row *ngFor="let brand of brands">
                <ion-col class="car-row" col-12 (tap)="completeBrand(brand.models,brand.value)">
                    {{ brand.value }}
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-scroll>

    <!--models-->
    <ion-item mode="md">
        <ion-label color="black" floating>Մոդել</ion-label>
        <ion-input (input)="search.getModels($event)" [value]="addNewCar.model" (ionBlur)="closeSearchModels=false" (ionFocus)="closeSearchModels=true" [(ngModel)]="addNewCar.model"></ion-input>
    </ion-item>
    <ion-scroll scrollY="true" *ngIf="closeSearchModels && localModels?.length">
        <ion-grid>
            <ion-row *ngFor="let model of localModels">
                <ion-col class="car-row" col-12 (tap)="completeModel(model.value)">
                    {{ model.value }}
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-scroll>
    <!--numbers-->
    <ion-item mode="md">
        <ion-label color="black" floating>Համարանիշ</ion-label>
        <ion-input [(ngModel)]="addNewCar.number"></ion-input>
    </ion-item>

    <button ion-button full small (click)="addCar()">Ավելացնել</button>

</ion-content>