<absolute-header [pageName]="pageName"></absolute-header>
<ion-content top>
    <button ion-button full outline (click)="createNewOrder()">Գրանցել հայտ</button>
    <ion-grid>
        <ion-row *ngIf="orders?.length">
            <ion-card *ngFor="let o of orders; let i = index">
                <ion-card-header>
                    <button ion-button small float-right (click)="removeOrder(i)">Ջնջել</button>
                </ion-card-header>
                <ion-card-content>
                    <span>Մեքենա - {{o.brand}}</span>
                    <span>մոդել - {{o.model}}</span>
                    <span>Համարանիշ - {{o.number}}</span>
                    <span>Հասցե - {{o.address}}</span>
                    <span>Կոդ - {{o.promCode}}</span>
                    <span>Լվացման տեսակ- {{o.type}}</span>
                </ion-card-content>
            </ion-card>
        </ion-row>
    </ion-grid>
</ion-content>