menu-page {
    ion-header {
        .logo {
            height: 56px;
            width: fit-content;
            position: absolute;
            right: -13px;
            top: -15px;
            img {
                width: 120px;
                height: 88px;
            }
        }
    }
    button {
        .item-inner {
            padding-left: 16px;
        }
    }
    .bg-btt {
        background-color: #bfd6a1
    }
}